<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Dear <%=firstName%>,</h2>
    <div>
      <p>
        You've requested a password reset at <%=date%>. You can continue by
        clicking the link below. If it wasn't you, ignore this message. <br />
      </p>
      <a href="<%=link%>"><%=link%></a>
    </div>
    <h4 style="text-align: right; font-style: italic; margin-right: 1rem">
      Sincerely, GameStore
    </h4>
  </body>
</html>
