@font-face {
  font-family: "Noto Sans Display";
  src: url("@/assets/fonts/NotoSansDisplay-VariableFont.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: rgb(214, 214, 214);
}

a {
  color: inherit;
}

body {
  font-family: "Noto Sans Display";
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
